In [19]:
# Dependencies and Setup
import pandas as pd

In [16]:
# skip the headers in every file after the first

CHUNK_SIZE = 50000
csv_file_list = ["input_data/jan_19_data.csv", "input_data/feb_19_data.csv", "input_data/mar_19_data.csv"]
output_file = "./combined_data.csv"

first_one = True
for csv_file_name in csv_file_list:

    if not first_one: # if it is not the first csv file then skip the header row (row 0) of that file
        skip_row = [0]
    else:
        skip_row = []

    chunk_container = pd.read_csv(csv_file_name, chunksize=CHUNK_SIZE, skiprows = skip_row)
    for chunk in chunk_container:
        chunk.to_csv(output_file, mode="a", index=False)
    first_one = False

In [20]:
# skip the headers in every file after the first

CHUNK_SIZE = 50000
csv_file_list = ["input_data/jan_19_data.csv", "input_data/feb_19_data.csv", "input_data/mar_19_data.csv", 
                 "input_data/apr_19_data.csv", "input_data/may_19_data.csv", "input_data/jun_19_data.csv",
                "input_data/jul_19_data.csv", "input_data/aug_19_data.csv", "input_data/sep_19_data.csv",
                "input_data/oct_19_data.csv", "input_data/nov_19_data.csv", "input_data/dec_19_data.csv"]
output_file = "./all_2019_data.csv"

first_one = True
for csv_file_name in csv_file_list:

    if not first_one: # if it is not the first csv file then skip the header row (row 0) of that file
        skip_row = [0]
    else:
        skip_row = []

    chunk_container = pd.read_csv(csv_file_name, chunksize=CHUNK_SIZE, skiprows = skip_row)
    for chunk in chunk_container:
        chunk.to_csv(output_file, mode="a", index=False)
    first_one = False

In [21]:
all_2019_data_path = "all_2019_data.csv"
all_2019_data = pd.read_csv(all_2019_data_path)

In [22]:
all_2019_df = all_2019_data
all_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160,Central Park West & W 76 St,40.77896784,-73.97374737,3283,W 89 St & Columbus Ave,40.7882213,-73.97041561,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.74780373,-73.9734419,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171,Amsterdam Ave & W 82 St,40.78524672,-73.97667321,3154,E 77 St & 3 Ave,40.77314236,-73.95856158,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504,1 Ave & E 16 St,40.73221853,-73.98165557,3709,W 15 St & 6 Ave,40.738046142482766,-73.99642959237099,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229,Great Jones St,40.72743423,-73.99379025,503,E 20 St & Park Ave,40.73827428,-73.98751968,35379,Subscriber,1979,1

In [23]:
all_2019_df.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160,Central Park West & W 76 St,40.77896784,-73.97374737,3283,W 89 St & Columbus Ave,40.7882213,-73.97041561,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.74780373,-73.9734419,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171,Amsterdam Ave & W 82 St,40.78524672,-73.97667321,3154,E 77 St & 3 Ave,40.77314236,-73.95856158,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504,1 Ave & E 16 St,40.73221853,-73.98165557,3709,W 15 St & 6 Ave,40.738046142482766,-73.99642959237099,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229,Great Jones St,40.72743423,-73.99379025,503,E 20 St & Park Ave,40.73827428,-73.98751968,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20552096,93,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.96094,28734,Subscriber,1985,2
20552097,786,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1
20552098,351,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,3349,Grand Army Plaza & Plaza St West,40.672968,-73.97088,3368,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2
20552099,1571,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1
20552100,310,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0

In [24]:
all_2019_df = all_2019_df[all_2019_df.gender != 0]

In [26]:
output_file = "clean_2019_data.csv"
all_2019_df.to_csv(output_file, mode="a", index=False)